.image-transition {
    transition: opacity 1s ease;
  }

figure {
    overflow: hidden;
    margin: 0 10px;
}



.image #zoom-In figure img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.image #zoom-In figure:hover img {
    transform: scale(1.5);
}